<div class="row">

   <div class="col-md-12 text-center">
      <h1> All Spaces </h1>
   </div>

</div>
<div class="col-md-2"></div>

<div class="col-md-8 text-center">

   <form action="/search" method="post">
      <div class="form-group">
         <input class="form-control" type="number" step=".01" name="price_min" id="price_min" placeholder="Minimum price">
      </div>
      <div class="form-group">
         <input class="form-control" type="number" step=".01" name="price_max" id="price_max" placeholder="Maximum price">
      </div>
      <div class="form-group">
         <input class="form-control" type="text" name="location" id="location" placeholder="Location">
      </div>
      <input class="btn btn-default" type="submit" value="Search">
   </form>

   <h1> </h1>

   <% @spaces.reverse_each do |space| %>
   <article class="listing">
      <div class="panel-default">
         <div class="panel panel-heading">
            <h3><%= space.description %></h3>
         </div>
         <div class="panel-body"
         <h4> Location: <%= space.location %> </h4>
         <p> Price: £<%= space.price %> </p>
         <a class="btn btn-info" id="space<%= space.id %>" href="../bookings/new/<%= space.id %>">Book Now</a>
         <a class="btn btn-default" href="/space/<%= space.id %>">View Details</a>
      </div>
   </article>
   <% end %>
    </div>

</div>
<div class="col-md-2">
</div>
