<h1><%= @space.description %></h1>

<p>Location: <%= @space.location %></p>
<p>Price: £<%= @space.price %></p>

<% if @space.occupied? %>
<p>Next available: <%= @space.available_on %></p>
<% else %>
<a href="../bookings/new/<%= @space.id %>">Book Now</a>
<% end %>
