<h1><%= @space.description %></h1>

<p>Location: <%= @space.location %></p>
<p>Price: £<%= @space.price %></p>

<% if @space.available? %>
  <a href="../bookings/new/<%= @space.id %>">Book Now</a>
<% else %>
  <p>Next available: <%= @space.available_on %></p>
<% end %>
